[submodule "themes/hugo-theme-fuji"]
	path = themes/hugo-theme-fuji
	url = https://github.com/amzrk2/hugo-theme-fuji
[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/vimux/blank
